h1,h2,h3{
    color: deepskyblue;
}
.myclass{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: bold; 
font-style: normal;
}
.mycourse{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
}
body {
    background-color: #55682f;
}
  h3{
    text-align: left;  
  }
  a{
    text-decoration: none;
  }
  a:hover{
text-decoration: underline;
  }
  p::first-letter{
    font-size: 1.5em;
  }
  ul.mycourse{list-style-type:square;}
  